<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :company %>
    <%= f.input :title %>
    <%= f.input :remote %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :country %>
    <%= f.input :closing_date %>
    <%= f.input :status %>
    <%= f.association :job_type %>
    <%= f.input :experience_level %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
